[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
ipywidgets = "*"
torch = "*"
matplotlib = "*"
tqdm = "*"
livelossplot = "*"
gdown = "*"
pypianoroll = ">=1.0.2"

[requires]
python_version = "3.6"
